@{
    ViewBag.Title = "Редактировать книгу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SoriNotSori.Models.CareerModels
<h2>Карьер #@Model.ID</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        <p>
            @Html.LabelFor(m => m.Name, "Имя карьера")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.NameSub, "Имя региона")
            <br />
            @Html.EditorFor(m => m.NameSub)

        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}